<mat-toolbar color="primary">
  <button
    [matMenuTriggerFor]="belowMenu"
    aria-label="Example icon-button with menu icon"
    class="example-icon"
    mat-icon-button
  >
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #belowMenu="matMenu" yPosition="below">
    <button (click)="login()" mat-menu-item>Login</button>
    <a mat-menu-item routerLink="/home">Home</a>
    <a mat-menu-item routerLink="/generate">Génération de questions</a>
    <a (click)="logout()" mat-menu-item>Déconnexion</a>
  </mat-menu>
  <span>My App</span>
  <span class="example-spacer"></span>
  <a
    aria-label="Example icon-button with heart icon"
    class="example-icon favorite-icon"
    mat-icon-button
  >
    <mat-icon>person</mat-icon>
  </a>
  <button
    aria-label="Example icon-button with share icon"
    class="example-icon"
    mat-icon-button
  >
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
